*.zip filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
news_analysis/ml_models/summarization/trained_model/runs/model.safetensors filter=lfs diff=lfs merge=lfs -text
